*{
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

input[type=reset],input[type=submit]{
    border-radius: 10px;
    background-color: #4CAF50;
    border: none;
    color: #fff;
    cursor: pointer;
    padding: 10px;
    margin-top: 20px;
    font-weight: bold;
}

input[type=reset]:hover,input[type=submit]:hover{
    background-color: #43A047;
}

input, label {
	border: none;
    padding: 5px;
    display: block;
    outline: none;
    width: 100%;
    margin: 10px 0;
}

section{
    background-color: #f2f2f2;
    border: none; 
    color: #777;
    margin: 30px auto;
    padding: 10px;
    width: 30%;
    border-radius: 20px;
}