*{
    font-family: 'Montserrat', sans-serif;
}

nav.menu ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
   background-color: #333;
}

nav.menu li {
	float: left;
}

nav.menu li input {
	background-color: #333;
	border: none;
    display: inline-block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
    text-align: center;
}

nav.menu li input:hover {
    background-color: #d22;
}